name: Validate and Create PR

on:
  push:
    branches:
      - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  validacao:
    name: 'Validação Terraform e PR'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./infra

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Create Pull Request to Main
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create \
            --base main \
            --head develop \
            --title "[Auto] Alterações vindas da Develop" \
            --body "Esse PR foi aberto automaticamente pelo GitHub Actions após validação do Terraform." \
          || echo "PR já existe ou não há mudanças, seguindo..."
        working-directory: .